* {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #323232;
  line-height: 1.5;
}

body {
  background-color: #e5e9f0;
  margin: 0;
  padding: 0;
}

article {
  width: 75ch;
  margin: auto;
  font-size: 1.125rem;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.8em;
}

p,
blockquote,
ul,
ol {
  font-size: 1em;
  line-height: 1.5em;
}

header {
  border-bottom: 1px solid #000000;
}

header > h1 {
  margin-bottom: -1rem;
}

#cover {
  width: 100%;
}

#facts {
  margin: 1em 0em 1em 1em;
  width: 50%;
  border: 1px dashed;
  float: right;
}

#facts > ul {
  list-style-image: url('../img/cup-icon.svg');
  line-height: 1.5em;
  padding-left: 1.5em;
}
