html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Part 3 */
.wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
}

footer {
  width: 100%;
  height: auto;
  padding: 0.5rem 2rem;
  position: fixed;
  bottom: 0;
}

/* Part 4 */
ul {
  list-style-type: square;
}

ul > ul > li:last-child {
  color: #f0f;
}
